body{
    background-color: #edf1f5;
}
.rounded{
    border-radius:1.1rem!important;
}
.bg-dark{
  background-color:   #2f323e!important;
}
.h8{
  font-size: 12px!important;
  color: #616161;
  font-weight: 400;
}
.dataTables_length{
  display: none!important;
}
.labelWarning{
  color: rgb(148, 117, 61);
}

/*******/
.titulo-grupo{
  font-size: 20px;
  margin-left: 5px;
}
hr{
  color:#a3a3a3;
}

